<!-- <label id="example-radio-group-label">3D Template Items:</label> -->
<!-- <mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="obj3d"
  (ngModelChange)="onChange($event)"
>
    <div *ngFor="let button of obj3dButtonsList">
        <mat-card>
            <mat-radio-button class="example-radio-button" [value]="button"> 
                {{button}}
            </mat-radio-button>
        </mat-card>
    </div>

  
</mat-radio-group> -->
<!-- <div>{{obj3d}}</div> -->


<mat-grid-list cols="3" rowHeight="4:3">
    <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="obj3d"
    (ngModelChange)="onChange($event)"
    >
        <mat-grid-tile *ngFor="let button of obj3dButtonsList">

                <mat-radio-button  class="example-radio-button" [value]="button">
                    <div class="radio-button-icon-container">
                        <mat-icon>business</mat-icon>
                    </div>
                    <div class="radio-button-text-container">
                        <span>{{button | uppercase}}</span>
                    </div>
                    
                </mat-radio-button>

        </mat-grid-tile>

    
    </mat-radio-group>
</mat-grid-list>

