
mat-expansion-panel {
    /* margin: 2px;
    background-color: rgb(131 200 241); */
    border: 2px solid rgb(113,126,200);
    margin: 2px 3px;
}

mat-form-field {
    display: inline-block;
    width: 95%;
}



